script(src='jquery-3.1.1.min.js' type='text/javascript')
script(src='main.js' type='text/javascript')
script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBQ6Il_0MGkY8_n6iutWQq5nZsPiDFi1Q0&callback=initMap' async defer)