footer.page-footer
	div.container
		div.row
			div.col-l6-s12
				h5.black-text Hire Selma and Bram!
				p.black-text-text-lighten-4 Because We are awesome:)
	div.footer-copyright
		div.container.black-text 2016 Copyright stuff
script( src="jquery-3.1.1.min.js" type="text/javascript" rel="javascript" )
script(src="materialize-css/dist/js/materialize.js" type="text/javascript" rel="javascript")
script( src="head.js" type="text/javascript")