footer.page-footer
	div.container
		div.row
			div.col-l6-s12
				h5.white-text Hire Selma and Bram!
				p.grey-text-text-lighten-4 Because We are awesome:)
	div.footer-copyright
		div.container 2016 Copyright stuff