footer.page-footer
	div.container
		div.row
			div.col-l6-s12
				h5.white-text Explorify in Amsterdam
				p.white-text.text-lighten-4 Made by:
				a(href='https://goo.gl/eUGnqY' target="_blank" style='color:#FEC006') Selma
				|  en 
				a(href='https://goo.gl/Wr8W59' target="_blank" style='color:#FEC006') Bram
	div.footer-copyright
		div.container.white-text 2016 Copyright
script( src="javascript/jquery-3.1.1.min.js" type="text/javascript" rel="javascript" )
script(src="materialize-css/dist/js/materialize.js" type="text/javascript" rel="javascript")
script( src="javascript/global.js" type="text/javascript")