link( href="styles.css" type="text/css" rel="stylesheet")
link( href="materialize-css/dist/css/materialize.min.css" type="text/css" rel="stylesheet")
body
	div.navbar-fixed
		nav
			div.nav-wrapper
				a(href="#" class="brand-logo") Explorify
				ul#nav-mobile.right
					li
						a(href='index') Home
					li
						a(href='profile') Profile
					li
						a(href='goaloverview') Goals
					//- li
					//- 	a(href='leaderboard') Leaderboard
					li
						a(href='logout') Logout