head
	link( href="materialize-css/dist/css/materialize.min.css" type="text/css" rel="stylesheet")
	link( href="css/styles.css" type="text/css" rel="stylesheet")
body
	div.navbar-wrapper
		nav
			div.nav-wrapper
				//- a(href="index" class="brand-logo") Logo
				ul#nav-mobile.right
					li
						a(href='profile') Profile
					li
						a(href='goaloverview') Goals
					li
						a(href='leaderboard') Leaderboard
					li
						a(href='logout') Logout