link( href="css/styles.css" type="text/css" rel="stylesheet")
link( href="materialize-css/dist/css/materialize.min.css" type="text/css" rel="stylesheet")
body
	div.navbar-fixed
		nav
			div.nav-wrapper
				a(href="index" class="brand-logo") Explorify
				ul#nav-mobile.right
					li
						a(href='index') Home
					li
						a(href='login') Login
					li
						a(href='register') Register
					li
						a(href='leaderboard') Leaderboard