html
	head
		include includes/header.pug
	body
		h2.headfont Goals Overview map
		h5= message
		div#map
		br
		br
		main
		script(src='javascript/jquery-3.1.1.min.js' type='text/javascript')
		script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyC3T9CFl4_0Xl-JvP7liPb6AEUuscL1700' async defer)
		script(src='javascript/goal.js' type='text/javascript')