html
	include includes/header-loggedout.pug
	body
		div.container-mainbox
			div.row
				div.col.s12
					h2.center-align Explorify Your City
		br
		p= message
		br
		div.container-secondbox
			div.row
				div.col.s12
					h2.center-align Which team would you pick?
					input(id="toggle" type="button" name="" value="toggle")
					div.cat
					div.dog
		br
		br
		a(href='register') Register!
		main
		include includes/footer.pug