html
	head
		include includes/header-loggedout.pug
	body
		h2 Wohojooo Landings Page
		p= message
		br
		a(href='login') Login!
		br
		br
		a(href='register') Register!
		main
		include includes/footer.pug