html
	head
		title= "Index"
		link(href="http://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")
		link(type="text/css" rel="stylesheet" href="materialize-css/dist/css/materialize.min.css"  media="screen,projection")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		link(rel='stylesheet', href='styles.css')
	body
		nav
			.nav-wrapper
				a.brand-logo(href='/') MoodMeddling
				a.button-collapse(href='#', data-activates='mobile-nav')
					i.material-icons menu
				ul#nav-mobile.right.hide-on-med-and-down
					li
						a(href='about') About
					li
						a(href='register') Register
				ul#mobile-nav.side-nav
					li
						a(href='about') About
					li
						a(href='register') Register

		div
			div.row
				div(class='col s12')
					p  texty texty

		footer.page-footer
			.container
				.row
					.col.l6.s12
						h5.white-text 
						p.grey-text.text-lighten-4 MoodMeddler is a project aimed to fight FOMO and the false sense of "greener grass on the other side". MoodMeddler is about embracing all feelings, not just the positive ones. MoodMeddler is the first honest social network out there.
					.col.l4.offset-l2.s12
						ul
							li
								a.grey-text.text-lighten-3(href='about') About
							li
								a.grey-text.text-lighten-3(href='register') Register
			.footer-copyright
				.container
					| © 2016 Copyright Selma Dorrestein
					a.grey-text.text-lighten-4.right(href='https://github.com/Selma2202') Github

		script(type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js")
		script(type="text/javascript" src="materialize-css/dist/js/materialize.min.js")
		script(type="text/javascript" src="main.js")