html
	head
		include includes/header-loggedout.pug
	body
		h2 Goalify in AMS
		br
		br
		form(action='/login' method='post')
			input(name='email' placeholder='Your emailadress' type='text' required)
				//- niet vergeten aan te passen: type naar email
			br
			br
			input(name='password' placeholder='Your password' type='password' required)
			br
			br
			input(type='submit' value='Login' id='submit')
			br
			br
			h2= message
			br
			br
		p No account yet? 
		a(href='register') Register!
		main
		include includes/footer.pug