html
	head
		include includes/header-loggedout.pug
	body
		div.container
			div.row
				div.col.s12
					h2.headfont Login
					h5= message
			div.row.rowbackgr
				div.col.s12
					form(action='/login' method='post')
						div.input-field
							input(name='email' placeholder='your@email.com' type='email' class="validate" required)
							label Your email address
						br
						br
						div.input-field
							input(name='password' placeholder='Your password' type='password' class="validate" required)
							label Your password
						br
						br
						div.buttonholder
							input(type='submit' class="btn waves-effect" id='submit' value='Login')
		main
		include includes/footer.pug