html
	head
		include includes/header-loggedout.pug
	body
		div.container
			div.row
				div.col.s12
					h2.headfont Login
					h4= message
			div.row.rowbackgr
				div.col.s12
					form(action='/login' method='post')
						label Your email address
						input(name='email' placeholder='your@email.com' type='text' required)
							//- niet vergeten aan te passen: type naar email
						br
						br
						label Your password
						input(name='password' placeholder='Your password' type='password' required)
						br
						br
						input(type='submit' class="btn waves-effect" id='submit' value='Login')
		main
		include includes/footer.pug