html
	head
		include includes/header-loggedout.pug
	body
		div.container
			div.row
				div.col.s12
					h2.headfont Register
					h5= message
			div.row.rowbackgr
				div.col.s12
					form(action='/register' method='post' autocomplete='off')
						div.input-field
							input(name='username' type='text' placeholder='Brammieboy' max-length= '15' autofocus class='validate' required)
							label Username 
						br
						div.input-field
							input(name='email' type='email' placeholder='your@emailaddress.com' class='validate' required)
							label Email address
						br
						div.input-field
							input(name='password' type='password' placeholder='Ultra secure password' min-length = '3' class='validate' required)
							label Password
						br
						label.nonformLabel Birthday:
						div.input-field
							input(type="date" name="bday" required)
							
						br
						label.nonformLabel Are you a cat or dog person?
						div.input-field
							input(type='radio' name='catdog' id ='cat' value='cat' required)
							label(for='cat') Cat
							br
							input(type='radio' name='catdog' id='dog' value='dog' required) 
							label(for='dog') Dog
						br
						br
						div.buttonholder
							input(type='submit' class="btn waves-effect" value='Register' id='submit')
		main
		include includes/footer.pug