html
	head
		include includes/header-loggedout.pug
	body
		div.container
			div.row
				div.col.s12
					h2.headfont Register
					h4= message
			div.row.rowbackgr
				div.col.s12
					form(action='/register' method='post' autocomplete='off')
						label Username 
						input(name='username' placeholder='Brammieboy' max-length= '15' autofocus required)
						br
						br
						label Email address
						input(name='email' type='email' placeholder='your@emailaddress.com' required)
						br
						br
						label Password
						input(name='password' type='password' placeholder='Ultra secure password' min-length = '3' required)
						br
						br
						label Birthday:
						input(type="date" name="bday" required)
						br
						br
						label Are you a cat or dog person?
						br
						input(type='radio' name='catdog' id ='cat' value='cat' required)
						label(for='cat') Cat
						br
						input(type='radio' name='catdog' id='dog' value='dog' required) 
						label(for='dog') Dog
						br
						br
						br
						input(type='submit' value='register' id='submit')
		main
		include includes/footer.pug
