html
	head
		include includes/header.pug
	body
		h2 Register! :)
		br
		br
		form(action='/register' method='post' autocomplete='off')
			label Username 
			br
			input(name='username' placeholder='Brammieboy' max-length= '15' autofocus required)
			br
			br
			label Emailadres
			br
			input(name='email' type='email' placeholder='your@emailadres.com' required)
			br
			br
			label Password
			br
			input(name='password' type='password' placeholder='Ultra secure password' min-length = '3' required)
			br
			br
			label Birthday:
			br
			input(type="date" name="bday" required)
			br
			br
			label Are you a cat or dog person?
			br 
			br
			input(type='radio' name='catdog' id ='cat' value='cat' required)
			label(for='cat') Cat
			br
			input(type='radio' name='catdog' id='dog' value='dog' required) 
			label(for='dog') Dog
			br
			br
			br
			input(type='submit' value='register' id='submit')
			br
			br
			a(href='login') Log-in
			main
			include includes/footer.pug
