@font-face {
  font-family: "Canter-Bold";
  src: url(../fonts/Canter-Bold-Shadow.otf); }

#indexMap {
  width: 75%;
  height: 400px;
  margin: 0 auto; }

.nav-wrapper {
  background-color: #FFFFFF; }

footer.page-footer {
  background-color: #FFFFFF; }

nav ul li a {
  color: #00BCD6; }

body {
  background-color: #FAFAFA; }

main {
  flex: 1 0 auto; }

.container-mainbox {
  background-color: #00BCD6; }
  .container-mainbox h2 {
    color: #f5f5f5;
    padding: 1% 0% 5% 0%;
    font-family: 'Canter-Bold';
    font-size: 120px; }

.container-secondbox {
  background-color: #FF5722; }
  .container-secondbox h2 {
    color: #f5f5f5;
    padding-top: 3%;
    padding-bottom: 3%; }

.test {
  background-color: grey; }

.cat {
  display: inline-block;
  margin-left: 5%;
  width: 35%;
  background-color: #E0E0E0;
  height: 150px; }

.dog {
  display: inline-block;
  margin-right: 5%;
  width: 55%;
  background-color: #424242;
  height: 150px;
  margin-bottom: 5%; }

.rowbackgr {
  background-color: #00BCD6; }

.highlighted {
  background-color: yellow;
  padding: 10px;
  margin: 20px 20px; }
  .highlighted p {
    margin: 0px; }

.profifo {
  display: block;
  width: 80%;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px; }

.bulbright {
  float: right; }

.bulbleft {
  float: left; }
