@font-face {
  font-family: "Canter-Bold";
  src: url(../fonts/Canter-Bold-Shadow.otf); }

@font-face {
  font-family: "Canter-Bold2";
  src: url(../fonts/CanterBold.otf); }

.nav-wrapper {
  background-color: #FEC006; }

footer.page-footer {
  background-color: #03A9F4; }

nav ul li a {
  color: #FAFAFA; }

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #FAFAFA; }

main {
  flex: 1 0 auto; }

input[type=submit] {
  position: relative;
  transform: translateY(35%); }

.btn {
  background-color: #028bca; }

.btn:hover {
  background-color: #FEC006; }

@media all and (min-width: 960px) {
  .main-title {
    font-size: 105px; }
  .container-mainbox {
    height: 95vh; }
  .container-secondbox {
    height: 95vh; }
  .main-title2 {
    font-size: 105px; }
  .img-container {
    margin-top: 5%; } }

@media all and (max-width: 959px) and (min-width: 600px) {
  .main-title {
    font-size: 10vw; }
  .container-mainbox {
    height: 93vh; }
  .container-secondbox {
    height: 93vh; }
  .main-title2 {
    font-size: 10vw;
    padding-top: 3%; }
  .img-container {
    margin-top: 10%; } }

@media all and (max-width: 599px) and (min-width: 50px) {
  .main-title {
    font-size: 15vw;
    margin-bottom: 5%; }
  .container-mainbox {
    height: 93vh; }
  .container-secondbox {
    height: 93vh; }
  .main-title2 {
    font-size: 15vw;
    padding-top: 5%; }
  .img-container {
    margin-top: 15%; } }

.main-title, .main-title2 {
  font-family: "Canter-Bold"; }

.container-mainbox {
  background-color: #03A9F4; }

#indexMap {
  width: 85%;
  height: 400px;
  margin: 0 auto; }

#arrow {
  width: 70px;
  height: auto; }

.container-secondbox {
  background-color: #BDBDBD; }

.test {
  width: 100%; }

.sub-header {
  font-weight: 200; }

.barBG {
  background-color: #757575;
  height: 200px;
  width: 100%;
  margin-top: 5%;
  position: relative; }

.cat {
  display: inline-block;
  float: left;
  width: 1%;
  height: 150px;
  margin-top: 2%;
  background-image: url("/images/running-cat.gif");
  background-size: 75px 75px;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH"; }

.cat:hover {
  background-color: #8BC34A; }

.dog {
  display: inline-block;
  float: right;
  width: 1%;
  background-color: #F44336;
  height: 150px;
  margin-top: 2%;
  background-image: url("/images/running-dog.gif");
  background-size: 140px 140px; }

.dog:hover {
  background-color: #FF5252; }

#map {
  width: 100%;
  height: 500px;
  margin-top: 3%; }

div#sidenav-overlay {
  z-index: -1; }

.highlighted {
  background-color: yellow;
  padding: 10px;
  margin: 20px 20px; }
  .highlighted p {
    margin: 0px; }

.profifo {
  width: 35%;
  padding-top: 1%;
  padding-bottom: 20px; }

.bulbright {
  float: right; }

.bulbleft {
  float: left; }

tr td #markRow {
  background-color: pink; }

.profileIndent {
  margin-left: 20px;
  margin-bottom: 25px; }

.buttonholder {
  text-align: center; }

/* FORM SHIZZLE */
/* label color */
.input-field {
  margin-top: 0rem; }
  .input-field label {
    color: #212121; }

.rowbackgr {
  margin-top: 4%; }

/* label focus color */
.input-field input[type=text]:focus + label {
  color: #FFA000; }

/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid #FFA000;
  box-shadow: 0 1px 0 0 #FEC006; }

/* valid color */
.input-field input[type=text].valid {
  border-bottom: 1px solid #028bca;
  box-shadow: 0 1px 0 0 #03a9f4; }

/* invalid color */
.input-field input[type=text].invalid {
  border-bottom: 1px solid #ca0202;
  box-shadow: 0 1px 0 0 #f20202; }

/* label focus color */
.input-field input[type=password]:focus + label {
  color: #FFA000; }

/* label underline focus color */
.input-field input[type=password]:focus {
  border-bottom: 1px solid #FFA000;
  box-shadow: 0 1px 0 0 #FEC006; }

/* valid color */
.input-field input[type=password].valid {
  border-bottom: 1px solid #028bca;
  box-shadow: 0 1px 0 0 #03a9f4; }

/* invalid color */
.input-field input[type=password].invalid {
  border-bottom: 1px solid #ca0202;
  box-shadow: 0 1px 0 0 #f20202; }

/* label focus color */
.input-field input[type=email]:focus + label {
  color: #FFA000; }

/* label underline focus color */
.input-field input[type=email]:focus {
  border-bottom: 1px solid #FFA000;
  box-shadow: 0 1px 0 0 #FEC006; }

/* valid color */
.input-field input[type=email].valid {
  border-bottom: 1px solid #028bca;
  box-shadow: 0 1px 0 0 #03a9f4; }

/* invalid color */
.input-field input[type=email].invalid {
  border-bottom: 1px solid #ca0202;
  box-shadow: 0 1px 0 0 #f20202; }

/* label focus color */
.input-field input[type=radio]:focus + label {
  color: #FFA000; }

/* label underline focus color */
.input-field input[type=radio]:focus {
  border-bottom: 1px solid #FFA000;
  box-shadow: 0 1px 0 0 #FEC006; }

/* valid color */
.input-field input[type=radio].valid {
  border-bottom: 1px solid #028bca;
  box-shadow: 0 1px 0 0 #03a9f4; }

/* invalid color */
.input-field input[type=radio].invalid {
  border-bottom: 1px solid #ca0202;
  box-shadow: 0 1px 0 0 #f20202; }

[type="radio"]:checked + label:after, [type="radio"].with-gap:checked + label:after {
  background-color: #03a9f4; }

[type="radio"]:checked + label:after, [type="radio"].with-gap:checked + label:before, [type="radio"].with-gap:checked + label:after {
  border: 2px solid #028bca; }

/* label focus color */
.input-field input[type=date]:focus + label {
  color: #FFA000; }

/* label underline focus color */
.input-field input[type=date]:focus {
  border-bottom: 1px solid #FFA000;
  box-shadow: 0 1px 0 0 #FEC006; }

/* valid color */
.input-field input[type=date].valid {
  border-bottom: 1px solid #028bca;
  box-shadow: 0 1px 0 0 #03a9f4; }

/* invalid color */
.input-field input[type=date].invalid {
  border-bottom: 1px solid #ca0202;
  box-shadow: 0 1px 0 0 #f20202; }

/* label focus color */
.input-field input[type=number]:focus + label {
  color: #FFA000; }

/* label underline focus color */
.input-field input[type=number]:focus {
  border-bottom: 1px solid #FFA000;
  box-shadow: 0 1px 0 0 #FEC006; }

/* valid color */
.input-field input[type=number].valid {
  border-bottom: 1px solid #028bca;
  box-shadow: 0 1px 0 0 #03a9f4; }

/* invalid color */
.input-field input[type=number].invalid {
  border-bottom: 1px solid #ca0202;
  box-shadow: 0 1px 0 0 #f20202; }

/* icon prefix focus color */
.input-field .prefix.active {
  color: brown; }

.nonformlabel {
  color: #212121; }

.map-icon {
  background-color: red;
  color: red; }
