body {
	background-color: #BDBDBD;
}

/*header*/
#headerleft {	
	min-height: 230px;
	background-color: #689F38;
	background-repeat: repeat;
	border-bottom: solid 25px #009688;
	z-index: -2;
}


#formsection {
	border: solid 3px #009688;
	border-radius: 20px;
	background-color: #DCEDC8;
	margin-top: -70px;
	margin-bottom: -70px;
	/*z-index: 1000;*/
}

#postrow {
	background-color: 	#8BC34A;
	padding-top: 50px;
	padding-bottom: 50px;
	border-top: solid 25px #009688;
	border-bottom: solid 25px #009688;

}

.postcontent {
background-color: #DCEDC8;
padding: 20px;
border-radius: 20px;
}

a{
	color: #009688;
}

.button {
	color: #212121;
	background-color: #BDBDBD;
	border: solid 2px #757575;
	border-radius: 5px;
}

nav {
	color: red;
    background-color: #009688;
}

nav .brand-logo {
	color: #212121;
}

nav ul a {
	color: #212121;
}

nav a {
	color: #212121;
}

nav .brand-logo {
	padding-left: 20px;
}

#inbetweenheader {
	text-align: center;
}



footer.page-footer {
	background-color: #689F38; 
	border-top: solid 25px #009688;


}