$main-color: #FEC006; 
$secondary-color: #FFA000;
$body-color: #FAFAFA;

// Formcolours
$formInputText: #212121;
$formInputTextWhenClicked: #FFA000;
$formUnderlineWhenClicked: #FFA000;
$formUnderlineWhenClickedShadow: #FEC006;
$formUnderlineWhenValid: #028bca;
$formUnderlineWhenValidShadow: #03a9f4;
$formUnderlineWhenInvalid: #ca0202;
$formUnderlineWhenInvalidShadow: #f20202;


$index-font: "Canter-Bold";
$secondary-font: "Canter-Bold2";

@font-face {
    font-family: "Canter-Bold";
    src: url(../fonts/Canter-Bold-Shadow.otf);
}

@font-face {
    font-family: "Canter-Bold2";
    src: url(../fonts/CanterBold.otf);
}

.nav-wrapper {
	background-color: $main-color;
}

footer.page-footer {
	background-color: #03A9F4;
}

nav ul li a {
	color: $body-color;
}

body {
	display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: $body-color; 
}

main {
	flex: 1 0 auto;
}

input[type=submit] {
	position: relative;
	transform: translateY(35%);
}

.btn {
	background-color:$formUnderlineWhenValid;
}
 
.btn:hover {
	background-color:$formUnderlineWhenClickedShadow;
}

.main-title {
	margin-top: 2%;
	font-family: $index-font;
	font-size: 105px;
}

.main-title2 {
	margin-top: 8%;
	font-family: $index-font;
	font-size: 105px; 
}

.container-mainbox {
	background-color: #03A9F4;
	height:100vh;
}

.headfont {
	font-family: $secondary-font; 
}

.container-secondbox {
	background-color: #BDBDBD;
	height:100vh;
}

.barBG {
	background-color:#03A9F4;
	height:200px;
	width:100%;
	margin-top: 7%;
	position: relative;
}

.cat {
	display: inline-block;
	float: left;
	width:1%;
	height:150px;
	margin-top: 2%;
	background-image: url("/images/cat-pattern.jpg");
}

.cat:hover {
	background-color: #8BC34A;
}

.dog {
	display: inline-block;
	float: right; 
	width:1%;
	background-color:#F44336;
	height:150px;
	margin-top: 2%;
	background-image: url("/images/dog-pattern.jpg");
}

.dog:hover {
	background-color:#FF5252;
}

.dog p {
  position: relative;
  top: 40%;
  transform: translateY(-50%);
}

.cat p {
  position: relative;
  top: 40%;
  transform: translateY(-50%);	
}

#indexMap {
    width: 85%;
    height:400px;
    margin: 0 auto;
}

#map {
	width: 100%;
	height: 500px;
	margin-top: 3%;
}

div#sidenav-overlay {
	z-index: -1; 
} 

.highlighted {
	background-color: yellow;
	padding: 10px;
	margin: 20px 20px;
	p {
		margin: 0px;
	}
}

.profifo {
	display: block;
	width: 35%;
	margin: auto;
	padding-top: 1%;
	padding-bottom: 20px
}

.bulbright {
	float: right;
}

.bulbleft {
	float: left; 
} 

tr{
	td{
		#markRow {
			background-color: pink;
		}
	}
}

.profileIndent {
    margin-left: 20px;
    margin-bottom: 25px;
}

.buttonholder {
	text-align: center;
}


/* FORM SHIZZLE */
/* label color */
.input-field {
	margin-top: 0rem;
	
	label {
		color: $formInputText;
	}
}

.rowbackgr {
	margin-top:5%;
}

// For text forms
/* label focus color */
.input-field input[type=text]:focus + label {
	color: $formInputTextWhenClicked;
}
/* label underline focus color */
.input-field input[type=text]:focus {
	border-bottom: 1px solid $formUnderlineWhenClicked;
	box-shadow: 0 1px 0 0 $formUnderlineWhenClickedShadow;
}
/* valid color */
.input-field input[type=text].valid {
	border-bottom: 1px solid $formUnderlineWhenValid;
	box-shadow: 0 1px 0 0 $formUnderlineWhenValidShadow;
}
/* invalid color */
.input-field input[type=text].invalid {
	border-bottom: 1px solid $formUnderlineWhenInvalid;
	box-shadow: 0 1px 0 0 $formUnderlineWhenInvalidShadow;
}


// for password forms
/* label focus color */
.input-field input[type=password]:focus + label {
	color: $formInputTextWhenClicked;
}
/* label underline focus color */
.input-field input[type=password]:focus {
	border-bottom: 1px solid $formUnderlineWhenClicked;
	box-shadow: 0 1px 0 0 $formUnderlineWhenClickedShadow;
}
/* valid color */
.input-field input[type=password].valid {
	border-bottom: 1px solid $formUnderlineWhenValid;
	box-shadow: 0 1px 0 0 $formUnderlineWhenValidShadow;
}
/* invalid color */
.input-field input[type=password].invalid {
	border-bottom: 1px solid $formUnderlineWhenInvalid;
	box-shadow: 0 1px 0 0 $formUnderlineWhenInvalidShadow;
}



// for email forms
/* label focus color */
.input-field input[type=email]:focus + label {
	color: $formInputTextWhenClicked;
}
/* label underline focus color */
.input-field input[type=email]:focus {
	border-bottom: 1px solid $formUnderlineWhenClicked;
	box-shadow: 0 1px 0 0 $formUnderlineWhenClickedShadow;
}
/* valid color */
.input-field input[type=email].valid {
	border-bottom: 1px solid $formUnderlineWhenValid;
	box-shadow: 0 1px 0 0 $formUnderlineWhenValidShadow;
}
/* invalid color */
.input-field input[type=email].invalid {
	border-bottom: 1px solid $formUnderlineWhenInvalid;
	box-shadow: 0 1px 0 0 $formUnderlineWhenInvalidShadow;
}

   // for radio forms
   /* label focus color */
   .input-field input[type=radio]:focus + label {
   	color: $formInputTextWhenClicked;
   }
   /* label underline focus color */
   .input-field input[type=radio]:focus {
   	border-bottom: 1px solid $formUnderlineWhenClicked;
   	box-shadow: 0 1px 0 0 $formUnderlineWhenClickedShadow;
   }
   /* valid color */
   .input-field input[type=radio].valid {
   	border-bottom: 1px solid $formUnderlineWhenValid;
   	box-shadow: 0 1px 0 0 $formUnderlineWhenValidShadow;
   }
   /* invalid color */
   .input-field input[type=radio].invalid {
   	border-bottom: 1px solid $formUnderlineWhenInvalid;
   	box-shadow: 0 1px 0 0 $formUnderlineWhenInvalidShadow;
   }

   [type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:after {
   	background-color: $formUnderlineWhenValidShadow
   }

   [type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:before, [type="radio"].with-gap:checked+label:after {
   	border: 2px solid $formUnderlineWhenValid
   }

// for date forms
/* label focus color */
.input-field input[type=date]:focus + label {
	color: $formInputTextWhenClicked;
}
/* label underline focus color */
.input-field input[type=date]:focus {
	border-bottom: 1px solid $formUnderlineWhenClicked;
	box-shadow: 0 1px 0 0 $formUnderlineWhenClickedShadow;
}
/* valid color */
.input-field input[type=date].valid {
	border-bottom: 1px solid $formUnderlineWhenValid;
	box-shadow: 0 1px 0 0 $formUnderlineWhenValidShadow;
}
/* invalid color */
.input-field input[type=date].invalid {
	border-bottom: 1px solid $formUnderlineWhenInvalid;
	box-shadow: 0 1px 0 0 $formUnderlineWhenInvalidShadow;
}

 // for number forms
 /* label focus color */
 .input-field input[type=number]:focus + label {
 	color: $formInputTextWhenClicked;
 }
 /* label underline focus color */
 .input-field input[type=number]:focus {
 	border-bottom: 1px solid $formUnderlineWhenClicked;
 	box-shadow: 0 1px 0 0 $formUnderlineWhenClickedShadow;
 }
 /* valid color */
 .input-field input[type=number].valid {
 	border-bottom: 1px solid $formUnderlineWhenValid;
 	box-shadow: 0 1px 0 0 $formUnderlineWhenValidShadow;
 }
 /* invalid color */
 .input-field input[type=number].invalid {
 	border-bottom: 1px solid $formUnderlineWhenInvalid;
 	box-shadow: 0 1px 0 0 $formUnderlineWhenInvalidShadow;
 }

 /* icon prefix focus color */
 .input-field .prefix.active {
 	color: brown;
 }

 .nonformlabel {
 	color: $formInputText;
 }

.map-icon {
	background-color: red;
	color: red;
}

