$main-color: #FEC006; 
$secondary-color: #FFA000;
$body-color: #FAFAFA;

// Formcolours
$formInputText: #212121;
$formInputTextWhenClicked: #FFA000;
$formUnderlineWhenClicked: #FFA000;
$formUnderlineWhenClickedShadow: #FEC006;
$formUnderlineWhenValid: #028bca;
$formUnderlineWhenValidShadow: #03a9f4;
$formUnderlineWhenInvalid: #ca0202;
$formUnderlineWhenInvalidShadow: #f20202;


$index-font: "Canter-Bold";
$secondary-font: "Canter-Bold2";

@font-face {
    font-family: "Canter-Bold";
    src: url(../fonts/Canter-Bold-Shadow.otf);
}

@font-face {
    font-family: "Canter-Bold2";
    src: url(../fonts/CanterBold.otf);
}

.nav-wrapper {
	background-color: $main-color;
}

footer.page-footer {
	background-color: #03A9F4;
}

nav ul li a {
	color: $body-color;
}

body {
	display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: $body-color; 
}

main {
	flex: 1 0 auto;
}

input[type=submit] {
	position: relative;
	transform: translateY(35%);
}

.btn {
	background-color:$formUnderlineWhenValid;
}
 
.btn:hover {
	background-color:$formUnderlineWhenClickedShadow;
}

@media all and (min-width: 960px) {
	.main-title{
		font-size: 105px;
	}
	.container-mainbox {
 		height: 95vh;
 	}
	.container-secondbox {
 		height: 100vh;
	}
	.main-title2 {
		font-size: 105px;
		padding-top:2%;
	}
	.img-container {
		margin-top:3%;
	}
}

@media all and (max-width: 959px) and (min-width: 600px) {
	.main-title{
	    font-size: 10vw;
	  }
	.container-mainbox {
 		height: 93vh;
 	}
	.container-secondbox {
		height:100vh;
	}
	.main-title2 {
		font-size: 10vw;
		padding-top:5%;
	}
	.img-container {
		margin-top:5%;
	}
}

@media all and (max-width: 599px) and (min-width: 50px) {
	.main-title {
	    font-size: 15vw;
	    margin-bottom:5%;
	 }
	.container-mainbox {
 		height: 93vh;
	}
	.container-secondbox {
 		height: 100vh;
	}
	.main-title2 {
		font-size: 15vw;
		padding-top:6%;
	}
	.img-container {
		margin-top:15%;
	}
}

.main-title, .main-title2 {
	font-family: $index-font;
}


.container-mainbox {
	background-color: #03A9F4;
}

#indexMap {
    width: 85%;
    height:400px;
    margin: 0 auto;
}

#arrow {
	width:70px;
	height: auto;
}

.container-secondbox {
	background-color: #BDBDBD;
}

.sub-header {
	font-weight: 200;
}

.barBG {
	background-color:#757575;
	height:200px;
	width:100%;
	margin-top: 5%;
	position: relative;
}

.cat {
	display: inline-block;
	float: left;
	width:1%;
	height:150px;
	margin-top: 2%;
	background-image: url("/images/running-cat.gif");
	background-size: 75px 75px;
	
	//for flipping the image
	-moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.cat:hover {
	background-color: #8BC34A;
}

.dog {
	display: inline-block;
	float: right; 
	width:1%;
	background-color:#F44336;
	height:150px;
	margin-top: 2%;
	background-image: url("/images/running-dog.gif");
	background-size: 140px 140px;
}

.dog:hover {
	background-color:#FF5252;
}

#map {
	width: 100%;
	height: 500px;
	margin-top: 3%;
}

div#sidenav-overlay {
	z-index: -50; 
} 

.highlighted {
	background-color: yellow;
	padding: 10px;
	margin: 20px 20px;
	p {
		margin: 0px;
	}
}

.profifo {
	// display: block;
	width: 35%;
	// margin: auto;
	padding-top: 1%;
	padding-bottom: 20px
}

.first-row {
	background-color:#F5F5F5;
}

.second-row {
	margin-top:10%;
	background-color:#F5F5F5;
}

.third-row {
	margin-top:10%;
	margin-bottom:10%;
	background-color:#F5F5F5;
}

.profinfo li {
	margin-top:5%;
}

.title {
	padding-bottom:5%;
}
.bulbright {
	float: right;
}

.editbg {
	background-color: #E0E0E0;
	margin: 6% 0% 3% 0%; 
}

.bulbleft {
	float: left; 
} 

tr{
	td{
		#markRow {
			background-color: pink;
		}
	}
}

.profileIndent {
    margin-left: 20px;
    margin-bottom: 25px;
}

.buttonholder {
	text-align: center;
}


/* FORM SHIZZLE */
/* label color */
.input-field {
	margin-top: 0rem;
	
	label {
		color: $formInputText;
	}
}

.rowbackgr {
	margin-top:4%;
}

.red-icon {
	background-image: url(../images/red-dot.png);
	background-repeat: no-repeat; 
	background-position: center center;
	background-size: 40px;
	vertical-align: middle; 
	border: 1px solid #d4d4d4; 
}

.green-icon {
	background-image: url(../images/green-dot.png);
	background-repeat: no-repeat; 
	background-position: center center;
	background-size: 20px;
	vertical-align: middle; 
	border: 1px solid #d4d4d4; 
}

.loc-icon {
	background-image: url(../images/location-marker.png);
	background-repeat: no-repeat; 
	background-position: center center;
	vertical-align: middle; 
	border: 1px solid #d4d4d4; 
}

// For text forms
/* label focus color */
.input-field input[type=text]:focus + label {
	color: $formInputTextWhenClicked;
}
/* label underline focus color */
.input-field input[type=text]:focus {
	border-bottom: 1px solid $formUnderlineWhenClicked;
	box-shadow: 0 1px 0 0 $formUnderlineWhenClickedShadow;
}
/* valid color */
.input-field input[type=text].valid {
	border-bottom: 1px solid $formUnderlineWhenValid;
	box-shadow: 0 1px 0 0 $formUnderlineWhenValidShadow;
}
/* invalid color */
.input-field input[type=text].invalid {
	border-bottom: 1px solid $formUnderlineWhenInvalid;
	box-shadow: 0 1px 0 0 $formUnderlineWhenInvalidShadow;
}


// for password forms
/* label focus color */
.input-field input[type=password]:focus + label {
	color: $formInputTextWhenClicked;
}
/* label underline focus color */
.input-field input[type=password]:focus {
	border-bottom: 1px solid $formUnderlineWhenClicked;
	box-shadow: 0 1px 0 0 $formUnderlineWhenClickedShadow;
}
/* valid color */
.input-field input[type=password].valid {
	border-bottom: 1px solid $formUnderlineWhenValid;
	box-shadow: 0 1px 0 0 $formUnderlineWhenValidShadow;
}
/* invalid color */
.input-field input[type=password].invalid {
	border-bottom: 1px solid $formUnderlineWhenInvalid;
	box-shadow: 0 1px 0 0 $formUnderlineWhenInvalidShadow;
}



// for email forms
/* label focus color */
.input-field input[type=email]:focus + label {
	color: $formInputTextWhenClicked;
}
/* label underline focus color */
.input-field input[type=email]:focus {
	border-bottom: 1px solid $formUnderlineWhenClicked;
	box-shadow: 0 1px 0 0 $formUnderlineWhenClickedShadow;
}
/* valid color */
.input-field input[type=email].valid {
	border-bottom: 1px solid $formUnderlineWhenValid;
	box-shadow: 0 1px 0 0 $formUnderlineWhenValidShadow;
}
/* invalid color */
.input-field input[type=email].invalid {
	border-bottom: 1px solid $formUnderlineWhenInvalid;
	box-shadow: 0 1px 0 0 $formUnderlineWhenInvalidShadow;
}

   // for radio forms
   /* label focus color */
   .input-field input[type=radio]:focus + label {
   	color: $formInputTextWhenClicked;
   }
   /* label underline focus color */
   .input-field input[type=radio]:focus {
   	border-bottom: 1px solid $formUnderlineWhenClicked;
   	box-shadow: 0 1px 0 0 $formUnderlineWhenClickedShadow;
   }
   /* valid color */
   .input-field input[type=radio].valid {
   	border-bottom: 1px solid $formUnderlineWhenValid;
   	box-shadow: 0 1px 0 0 $formUnderlineWhenValidShadow;
   }
   /* invalid color */
   .input-field input[type=radio].invalid {
   	border-bottom: 1px solid $formUnderlineWhenInvalid;
   	box-shadow: 0 1px 0 0 $formUnderlineWhenInvalidShadow;
   }

   [type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:after {
   	background-color: $formUnderlineWhenValidShadow
   }

   [type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:before, [type="radio"].with-gap:checked+label:after {
   	border: 2px solid $formUnderlineWhenValid
   }

// for date forms
/* label focus color */
.input-field input[type=date]:focus + label {
	color: $formInputTextWhenClicked;
}
/* label underline focus color */
.input-field input[type=date]:focus {
	border-bottom: 1px solid $formUnderlineWhenClicked;
	box-shadow: 0 1px 0 0 $formUnderlineWhenClickedShadow;
}
/* valid color */
.input-field input[type=date].valid {
	border-bottom: 1px solid $formUnderlineWhenValid;
	box-shadow: 0 1px 0 0 $formUnderlineWhenValidShadow;
}
/* invalid color */
.input-field input[type=date].invalid {
	border-bottom: 1px solid $formUnderlineWhenInvalid;
	box-shadow: 0 1px 0 0 $formUnderlineWhenInvalidShadow;
}

 // for number forms
 /* label focus color */
 .input-field input[type=number]:focus + label {
 	color: $formInputTextWhenClicked;
 }
 /* label underline focus color */
 .input-field input[type=number]:focus {
 	border-bottom: 1px solid $formUnderlineWhenClicked;
 	box-shadow: 0 1px 0 0 $formUnderlineWhenClickedShadow;
 }
 /* valid color */
 .input-field input[type=number].valid {
 	border-bottom: 1px solid $formUnderlineWhenValid;
 	box-shadow: 0 1px 0 0 $formUnderlineWhenValidShadow;
 }
 /* invalid color */
 .input-field input[type=number].invalid {
 	border-bottom: 1px solid $formUnderlineWhenInvalid;
 	box-shadow: 0 1px 0 0 $formUnderlineWhenInvalidShadow;
 }

 /* icon prefix focus color */
 .input-field .prefix.active {
 	color: brown;
 }

 .nonformlabel {
 	color: $formInputText;
 }

.map-icon {
	background-color: red;
	color: red;
}

